In [ ]:
# 3 Observable Traits
#PyMoli is predominantly played by Male users (81%)
#Majority of in-game purchases were made by the 20-24 year old cohort
#The 2 most popular items purchased were Betrayel Whisper of Greiving Widows, and Arcane Gem

In [11]:
import pandas as pd
import os
import json

In [12]:
json_path = os.path.join("output/purchase_data.json")

In [102]:
game_df = pd.read_json(json_path)
game_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [59]:
game_df.count()

Age          780
Gender       780
Item ID      780
Item Name    780
Price        780
SN           780
dtype: int64

In [39]:
#total number of players
unique_players = game_df["SN"].unique()
len(unique_players)
unique_players_df = pd.DataFrame({"Total Players":[len(unique_players)]})
unique_players_df

   Total Players
0            573

In [319]:
#total unique items, average price, number of purchases, total revenue
unique_items = game_df["Item ID"].unique()
len(unique_items)

183

In [320]:
#average price
avg_price = "$" + str(game_df["Price"].mean())
avg_price

'$2.931192307692303'

In [321]:
#number of purchases
total_purchases = game_df["Item ID"].count()
total_purchases

780

In [322]:
#total revenue
revenue = game_df["Price"].sum()
revenue = "$" + str(revenue)
revenue

'$2286.33'

In [323]:
#must reorder and adjust decimal places
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items" : [len(unique_items)],
                                      "Average Purchase Price" : [avg_price],
                                      "Total Number of Purchases" : [total_purchases],
                                      "Total Revenue" : [revenue]})
purchasing_analysis_df

,Average Purchase Price,Number of Unique Items,Total Number of Purchases,Total Revenue
0,$2.931192307692303,183,780,$2286.33

In [324]:
purchasing_analysis_df = purchasing_analysis_df[["Number of Unique Items", "Average Purchase Price", "Total Number of Purchases", "Total Revenue"]]
purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,$2.931192307692303,780,$2286.33

In [360]:
male_demographics = game_df.loc[game_df['Gender'] == 'Male']
male_demographics_count = male_demographics['SN'].unique()
male_demographics_num = len(male_demographics_count)
male_demographics_num
male_percent = (len(male_demographics_count)/total_players)*100
male_percent

81.15183246073299

In [361]:
female_demographics = game_df.loc[game_df['Gender'] == 'Female']
female_demographics_count = female_demographics['SN'].unique()
female_demographics_num = len(female_demographics_count)
female_demographics_num
female_percent = (len(female_demographics_count)/total_players)*100
female_percent

17.452006980802793

In [362]:
other_demographics = game_df.loc[game_df['Gender'] == 'Other / Non-Disclosed']
other_demographics_count = other_demographics['SN'].unique()
other_demographics_num = len(other_demographics_count)
other_demographics_num
other_percent = (len(other_demographics_count)/total_players)*100
other_percent

1.3961605584642234

In [363]:
total_demographics = demographic_count.sum()
total_demographics
total_players = len(male_demographics_count) + len(female_demographics_count) + len(other_demographics_count)
total_players

573

In [364]:
#Gender Demographics DF
genderDemographics_df = pd.DataFrame({"Percentage of Players" : [male_percentage, female_percentage, other_percentage],
                                      "Total count": [male_demographics_num, female_demographics_num, other_demographics_num]
                               })
genderDemographics_df_rename = genderDemographics_df.rename(index={0: 'Male', 1:'Female', 2:'Other'})
genderDemographics_df_rename

        Percentage of Players  Total count
Male                81.153846          465
Female              17.435897          100
Other                1.410256            8

In [365]:
# Purchasing analysis
# Purchase Count
#purchase_count = game_df['Gender'].value_counts()
#purchase_count_df = pd.DataFrame(purchase_count)
#purchase_count_df
male_demographics_purchase = len(male_demographics)
male_demographics_purchase
female_demographics_purchase = len(female_demographics)
female_demographics_purchase
other_demographics_purchase = len(other_demographics)
other_demographics_purchase
# Average purchase price
avgPrice_male = male_demographics["Price"].mean()
avgPrice_male
avgPrice_female = female_demographics["Price"].mean()
avgPrice_female
avgPrice_other = other_demographics["Price"].mean()
avgPrice_other
# Total purchase value
totalValue_male = male_demographics['Price'].sum()
totalValue_male
totalValue_female = female_demographics["Price"].sum()
totalValue_female
totalValue_other = other_demographics["Price"].sum()
totalValue_other
# Normalized Totals
normTotal_male = totalValue_male/len(male_demographics_count)
normTotal_male
normTotal_female = totalValue_female/len(female_demographics_count)
normTotal_female
normTotal_other = totalValue_other/len(female_demographics_count)
normTotal_other

0.35739999999999994

In [366]:
#Purchase analysis (gender) DF
purchaseAnalysis_df = pd.DataFrame({"Normalized Totals": [normTotal_male, normTotal_female, normTotal_other],
                                   "Total Purchase Value": [totalValue_male, totalValue_female, totalValue_other],
                                   "Average Purchase Price": [avgPrice_male, avgPrice_female, avgPrice_other],
                                    "Purchase Count": [male_demographics_purchase, female_demographics_purchase, other_demographics_purchase] 
                                   })
purchaseAnalysis_df = purchaseAnalysis_df[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Normalized Totals"]]
purchaseAnalysis_df_rename = purchaseAnalysis_df.rename(index={0: 'Male', 1:'Female', 2:'Other'})
purchaseAnalysis_df_rename

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Male,633,2.950521,1867.68,4.016516
Female,136,2.815515,382.91,3.829100
Other,11,3.249091,35.74,0.357400

In [129]:
age_max = game_df["Age"].max()
age_max

45

In [128]:
age_min = game_df["Age"].min()
age_min

7

In [425]:
#age demographics
bins = [0,9.99,14.99,19.99,24.99,29.99,34.99,39.99,120]
group_names = ["<10", "10-14","15-19", "20-24","25-29","30-34","35-39","40+"]
ages_grouped = pd.cut(game_df["Age"], bins, labels=group_names)
game_df["Age Group"] = pd.cut(game_df["Age"], bins, labels=group_names)
game_df.head()

,Age,Gender,Item ID,Item Name,Price,SN,Age Group
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,35-39
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,20-24
2,34,Male,174,Primitive Blade,2.46,Assastnya25,30-34
3,21,Male,92,Final Critic,1.36,Pheusrical25,20-24
4,23,Male,63,Stormfury Mace,1.27,Aela59,20-24

In [426]:
age_grouped = game_df.groupby(["Age Group"])

age_group_df = pd.DataFrame({"Purchase Count":age_grouped["Age Group"].count(),
                            "Average Purchase Price":age_grouped["Price"].mean(),
                            "Total Purchase Value": age_grouped["Price"].sum() ,
                            "Normalized Totals": (age_grouped["Price"].sum()/len(unique_players))})
age_group_df = age_group_df[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Normalized Totals"]]
age_group_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age Group,,,,
<10,28,2.980714,83.46,0.145654
10-14,35,2.770000,96.95,0.169197
15-19,133,2.905414,386.42,0.674380
20-24,336,2.913006,978.77,1.708150
25-29,125,2.962640,370.33,0.646300
30-34,64,3.082031,197.25,0.344241
35-39,42,2.842857,119.40,0.208377
40+,17,3.161765,53.75,0.093805

In [424]:
#top spenders alternate method
big_spender2 = game_df.groupby(['SN'])
big_spender2.head(10)

big_spender2_df = pd.DataFrame({"Purchase Count":big_spender2['Price'].count(),
                                "Average Purchase Price":big_spender2['Price'].mean(),
                                "Total Purchase Value":big_spender2['Price'].sum()})


big_spender2_df = big_spender2_df.sort_values("Total Purchase Value",ascending=False)
big_spender2_df = big_spender2_df[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
big_spender2_df.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Undirrala66               5                3.412000                 17.06
Saedue76                  4                3.390000                 13.56
Mindimnya67               4                3.185000                 12.74
Haellysu29                3                4.243333                 12.73
Eoda93                    3                3.860000                 11.58

In [406]:
#popular items alternate method
popular_items2 = game_df.groupby(['Item ID', 'Item Name'])
popular_items2.head(10)

popular_items2_df = pd.DataFrame({"Purchase Count":popular_items2['Price'].count(),
                                "Item Price":(popular_items2['Price'].sum()/popular_items2['Price'].count()),
                                "Total Purchase Value":popular_items2['Price'].sum()})

popular_items2_df = popular_items2_df.sort_values("Purchase Count", ascending=False)
popular_items2_df.head()

,,Item Price,Purchase Count,Total Purchase Value
Item ID,Item Name,,,
39,"Betrayal, Whisper of Grieving Widows",2.35,11,25.85
84,Arcane Gem,2.23,11,24.53
31,Trickster,2.07,9,18.63
175,Woeful Adamantite Claymore,1.24,9,11.16
13,Serenity,1.49,9,13.41

In [403]:
#top 5 profitable items

profitable_items_df = popular_items2_df.sort_values("Total Purchase Value", ascending=False)
profitable_items_df.head()

,,Item Price,Purchase Count,Total Purchase Value
Item ID,Item Name,,,
34,Retribution Axe,4.14,9,37.26
115,Spectral Diamond Doomblade,4.25,7,29.75
32,Orenmir,4.95,6,29.70
103,Singed Scalpel,4.87,6,29.22
107,"Splitter, Foe Of Subtlety",3.61,8,28.88